[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
*BackUpThisFolder*
*BurstDebugInformation*
.utmp/
.plastic/
*Backup-*
*.apk
*.aab
*.unitypackage
*.sln
*.csproj
*.userprefs
*.vsconfig
.vs/
.idea/
.vscode/
Thumbs.db
Desktop.ini
